version: "3.9"

services:
  api-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/api/output/api
  user-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/user/output/user
  comment-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/comment/output/comment
  feed-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/feed/output/feed
  publish-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/publish/output/publish
  favorite-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
        condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/favorite/output/favorite
  relation-server:
    image: vgalaxy/server:latest
    network_mode: host
    volumes:
      - ./logs:/root/logs
    depends_on:
      mysql:
       condition: service_healthy
    command: bash /root/wait.sh 3306 2379 4317 9000 6379 -- /root/cmd/relation/output/relation

  redis:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379"
  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      - MYSQL_DATABASE=gorm
      - MYSQL_USER=gorm
      - MYSQL_PASSWORD=gorm
      - MYSQL_RANDOM_ROOT_PASSWORD="yes"  # https://dev.mysql.com/doc/refman/5.7/en/docker-mysql-more-topics.html#docker_var_mysql_random_root_password
    healthcheck:
      test: mysqladmin ping -h127.0.0.1 -ugorm -pgorm
      timeout: 20s
      retries: 10
      interval: 1s

  etcd:
    image: bitnami/etcd:latest
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
    ports:
      - "2379:2379"
      - "2380:2380"

  otel-collector:
    image: otel/opentelemetry-collector-contrib-dev:latest
    command: [ "--config=/etc/otel-collector-config.yaml", "${OTELCOL_ARGS}" ]
    volumes:
      - ./configs/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "1888:1888"   # pprof extension
      - "8888"        # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "4317:4317"   # OTLP gRPC receiver
      - "55679"       # zpages extension
    depends_on:
      - jaeger-all-in-one

  jaeger-all-in-one:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "14268"
      - "14250:14250"
      - "6831:6831"

  victoriametrics:
    container_name: victoriametrics
    image: victoriametrics/victoria-metrics
    ports:
      - "8428:8428"
      - "8089:8089"
      - "8089:8089/udp"
      - "2003:2003"
      - "2003:2003/udp"
      - "4242:4242"
    command:
      - '--storageDataPath=/storage'
      - '--graphiteListenAddr=:2003'
      - '--opentsdbListenAddr=:4242'
      - '--httpListenAddr=:8428'
      - '--influxListenAddr=:8089'

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    ports:
      - "3000:3000"

  minio:
    # default admin name: minioadmin
    # default admin pwd: minioadmin
    image: quay.io/minio/minio
    command: server /data --console-address ":9001" -address ":9000"
    ports:
      - "9001:9001" # client
      - "9000:9000" # server