etcd:
  host: "127.0.0.1"
  port: 2379

otlp-receiver:
  host: "127.0.0.1"
  port: 4317

minio:
  host: "127.0.0.1"
  port: 9000
  ak: "minioadmin"
  sk: "minioadmin"
  video-bucket-name: "video"
  cover-bucket-name: "cover"

mysql:
  host: "127.0.0.1"
  port: 3306
  user: "gorm"
  password: "gorm"
  dbname: "gorm"
  charset: "utf8"
  parseTime: "True"
  loc: "Local"

redis:
  host: "127.0.0.1"
  port: 6379
  password: ""
  db: 0
  pool-size: 100

api-server:
  name: "tiktok.api.service"
  host: "0.0.0.0" # https://stackoverflow.com/a/20778887/6229548
  port: 8080
  exit-wait-time: 5
  log-path: "logs/api.log"

user-server:
  name: "tiktok.user.service"
  host: "127.0.0.1"
  log-path: "logs/user.log"

feed-server:
  name: "tiktok.feed.service"
  host: "127.0.0.1"
  default-limit: 30
  log-path: "logs/feed.log"

comment-server:
  name: "tiktok.comment.service"
  host: "127.0.0.1"
  log-path: "logs/comment.log"

favorite-server:
  name: "tiktok.favorite.service"
  host: "127.0.0.1"
  log-path: "logs/favorite.log"

publish-server:
  name: "tiktok.publish.service"
  host: "127.0.0.1"
  log-path: "logs/publish.log"

relation-server:
  name: "tiktok.relation.service"
  host: "127.0.0.1"
  log-path: "logs/relation.log"

message-server:
  name: "tiktok.message.service"
  host: "127.0.0.1"
  log-path: "logs/message.log"
